{% extends "base.html" %}


{% block content %}

    <h1 align="middle">Помощь</h1>
    <h3 align="middle">Для чего нужен сайт?</h3>
    <h5>Сайт создан для удобных интернет покупок и продаж. Здесь размещаются объявления различных
    товаров всех видов. Вы также можете увидеть всю необходимую информацию о товаре и его продавце.</h5>
    <h3 align="middle">Как пользоваться сайтом?</h3>
    <h5>Все очень просто</h5>
    <h5> Если вы - продавец</h5>
    <ol>
        <li>Первым делом вам нужно зарегистрироваться или войти в свой аккаунт.</li>
        <li>Если вы хотите выставить товар на продажу, вам нужно нажать на кнопку "Добавить товар"</li>
        <li>После этого заполните всю информацию о товаре</li>
        <li>Держите телефон на готове к вам скоро позвонит покупатель)</li>
    </ol>
    <h5> сли же вы - покупатель</h5>
    <OL>
        <LI>Первым делом вам нужно зарегистрироватьсч или войти в своц аккаунт</LI>
        <li>Посмотрите в ленте главного меню товар, который вам нужен</li>
        <li>Хорошей вам покупкИ!</li>
    </OL>


{% endblock %}