<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
</head>
<body>
<header>
    <div class="container">
        <a href="/" class="logo">Что-то Типа Логотипа</a>
        <nav>
            <ul class="top-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/about_me">Обо мне</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/help">Помощь</a></li>
                <li><a href="/something">Что-нибудь еще</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="main">
    <div class="container">Главное/div>
</div>
<footer>
    <div class="container">Подвал</div>
</footer>
</body>
</html>