<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
<header>
    <div class="container">
        <a href="/" class="logo">Что-то Типа Логотипа</a>
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Обо мне</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Помощь</a></li>
                <li><a href="">Что-нибудь еще</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="main">
    <div class="container">Как Дела</div>
</div>
<footer>
    <div class="container">Что делаешь</div>
</footer>
</body>
</html>