{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div>
            <a href="/edit_profile" class="btn btn-warning">
                Редактировать профиль
            </a>
            <a href="/logout" class="btn btn-danger">
               Выйти
            </a>
        </div>
        <h1 align="middle">Профиль</h1>
        <table>
            <tbody>
                <tr>
                    <td>Имя</td>
                    <td>{{current_user.name}}</td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>{{current_user.surname}}</td>
                </tr>
                <tr>
                    <td>Возраст</td>
                    <td>{{current_user.age}}</td>
                </tr>
                <tr>
                    <td>Контакты</td>
                    <td>{{current_user.contacts}}</td>
                </tr>
                <tr>
                    <td>Почта</td>
                    <td>{{current_user.email}}</td>
                </tr>
                <tr>
                    <td>Дата создания аккаунта</td>
                    <td>{{current_user.modified_date}}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h1>Вы зашли как гость. Чтобы увидеть ваш профиль нужно войти в систему</h1>
    {% endif %}
{% endblock %}